group Main
    source https://api.nuget.org/v3/index.json
    storage:none
    lowest_matching: true
    nuget Elmish >= 4.0.0-beta-5 prerelease
    nuget Fable.Mocha >= 2.15
    nuget Fable.SimpleJson ~> 3
    nuget Feliz >= 2.0.0-prerelease-003 prerelease
    nuget Feliz.UseListener
    nuget FSharp.Core
    nuget Fable.Core
    nuget Fable.Elmish.React >= 4.0.0-beta-3 prerelease

group Analyzers
source https://www.nuget.org/api/v2

nuget FSharp.Analyzers.Sample

group Build
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    storage: none

    nuget FSharp.Core
    nuget Fake.Core.ReleaseNotes
    nuget Fake.Core.Target
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem