group Main
    source https://api.nuget.org/v3/index.json
    storage:none
    lowest_matching: true
    nuget Elmish
    nuget Fable.Mocha
    nuget Fable.SimpleJson
    nuget Feliz 1.68
    nuget Feliz.UseListener
    nuget FSharp.Core ~> 4.7.2
    nuget Fable.Core 3.1.6
    nuget Fable.Elmish.React 3.0.1

group Analyzers
source https://www.nuget.org/api/v2

nuget FSharp.Analyzers.Sample

group Build
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    storage: none

    nuget FSharp.Core
    nuget Fake.Core.ReleaseNotes
    nuget Fake.Core.Target
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem