group Main
    source https://api.nuget.org/v3/index.json
    storage:none

    nuget Fable.Mocha
    nuget Fable.SimpleJson
    nuget Feliz
    nuget FSharp.Core
    nuget Fable.Core
    nuget Fable.Elmish.React

group Analyzers
source https://www.nuget.org/api/v2

nuget FSharp.Analyzers.Sample

group Build
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    storage: none

    nuget FSharp.Core
    nuget Fake.Core.ReleaseNotes
    nuget Fake.Core.Target
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem